<ion-header>
  <ion-toolbar>
    
    <ion-tabs>
      <ion-tab-bar slot="top" height="30">
     
        <ion-title>Flag Quiz</ion-title>
        <ion-tab-button routerLink="/play">
          <ion-icon name="play-outline"></ion-icon>
          <ion-label>Jouer</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
  
</ion-header>
<ion-content>




  <ion-toolbar  >
    <ion-buttons slot="primary">
      <ion-button *ngFor="let letter of alphabet" (click)="filterByLetter(letter)" class="ion-text-align-center">
        {{ letter }}
      </ion-button>
      <ion-button (click)="resetFilter()">Tous</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Liste des pays filtrée -->
  <ion-list *ngIf="filteredCountries && filteredCountries.length > 0">
    <ion-item *ngFor="let country of filteredCountries">
      <ion-grid>
        <ion-row >
          <ion-col size="8" class="ion-align-self-center">
            {{ country.name.shortname }}
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-img *ngIf="country.flag && country.flag.officialflag && country.flag.officialflag.svg" [src]="country.flag.officialflag.svg" width="50" height="auto"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="filteredCountries && filteredCountries.length === 0">
    Aucun pays trouvé.
  </ion-item>
</ion-content>
